@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: rgba(12, 12, 12, 0.589);
}

.MyEOpacity{
    opacity: .5;
}

.myContainer{
    margin-top: 5rem!important;
}

.MyDigitBox{
    width: 13rem;
    
}

.myBtnBox{
    margin-left: 8rem;
}


